<footer class="bg-dark d-none d-sm-flex footer">
    <p class="m-0">Copyright&copy;{{currentYear}} SinaArtz</p>
    <p class="mb-0 mt-2">Connect with us</p>
    <div>
      <a href="https://twitter.com/JosephJSJeremi1" target="blank">
        <img class="social-icon" src="assets/icons/twitter.png" alt="SinaArtz twitter">
      </a>
      <a href="https://facebook.com/culext2126/" target="blank">
        <img class="social-icon" src="assets/icons/facebook.png" alt="SinaArtz facebook">
      </a>
      <a href="https://wa.me/07057570146?text=Hello%20SinaArtz." target="blank">
        <img class="social-icon" src="assets/icons/whatsapp.png" alt="SinaArtz whatsapp">
      </a>
      <a href="https://t.me/SinaArtsBot" target="blank">
        <img class="social-icon" src="assets/icons/telegram.png" alt="SinaArtz telegram">
      </a>
      <a href="https://instagram.com/culext200" target="blank">
        <img class="social-icon" src="assets/icons/instagram.png" alt="SinaArtz instagram">
      </a>
    </div>
  </footer>