@import "../../extras.scss";

.footer {
    justify-content: center;
    align-items: center;
    box-shadow: 0px -4px 4px darken($background-color, 5%);
    color: $font-light;
    z-index: 100;
    padding: 0.9rem;
    flex-direction: column;

    & .social-icon {
        width: 20px;
        height: 20px;
        margin: 0 0.5em;
    }
}