<art-navigation></art-navigation>
<main class="container-fluid main-container">
  <div class="text-uppercase row d-flex align-items-center justify-content-center">
    <div class="col-11 col-sm-7 ">
      <fieldset class="my-3">
        <legend>Contact ME</legend>
        <form #contactForm="ngForm" (ngSubmit)="processForm(contactForm)">
            <div class="mb-3">
              <label for="emailField" class="form-label">Email Address</label>
              <input ngModel pattern="[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}" name="email" class="form-control" id="emailField" aria-describedby="emailHelp" placeholder="Your email address goes here..." required>
              <div id="emailHelp" class="form-text text-normal">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
                <label for="msgField" class="form-label">Message</label>
                <textarea ngModel name="message" class="form-control" id="msgField" rows="3" placeholder="Enter your message here..." required></textarea>
            </div>
            <div class="flex">
              <button type="submit" [ngClass]="{'disabled': !contactForm.valid}" class="btn btn-dark btn-md submit-btn">Send as Mail
                <img src="assets/icons/email.png" class="btn-icon" style="width: 30px;" alt="email icon">
              </button>
              <button (click)="sendToWhatsapp(contactForm)" type="button" [ngClass]="{'disabled': !contactForm.valid}" class="btn btn-dark btn-md submit-btn">Send to whatsapp
                <img src="assets/icons/whatsapp.png" class="btn-icon" alt="whatsapp icon">
              </button>
              <button (click)="sendToTelegram(contactForm)" type="button" [ngClass]="{'disabled': !contactForm.valid}" class="btn btn-dark btn-md submit-btn w-100 mt-2">Send to telegram
                <img src="assets/icons/telegram.png" class="btn-icon" alt="telegram icon">
              </button>
            </div>
          </form>
    </fieldset>
    </div>
  </div>
</main>
<art-footer></art-footer>