@import "../../extras.scss";

.main-container {
    color: $font-light;
    min-height: $section-height;

    & .submit-btn {
        // border: 2px solid $font-light;
        width: 100%;
        height: 100%;
        text-transform: uppercase;
        text-align: center;

        & .btn-icon {
            width: 25px;
            display: none;
            opacity: 0;
        }

        @include md {
            // &:hover {
            //     background: $font-light;
            //     color: $font-dark;
            //     font-weight: 500;
            //     transition: background-color 0.2s ease-in, color 0.2s ease-in;
    
            //     & .btn-icon {
            //         display: inline-block;
            //         opacity: 1;
            //         transition: opacity 0.2s ease-in;
            //     }
            // }
        }
    }
}