.container {
    width: 100%;
    max-width: 750px;

    & .back-btn {
        text-transform: uppercase;
    }

    & .head-section {
        position: relative;
        padding: 0 1em;
        display: flex;
        justify-content: space-between;
        align-items: center;

        & button {
            width: 30px;
            height: 30px;
            &:hover {
                font-weight: 700;
                transform: scale(1.2);
                transition: transform 0.05s ease-in;
            }
        }
    }

    & tbody{
        .thumbnail {
            width: 40px;
            height: 40px;
            border-radius: 50%;
        }

        tr:hover{
            cursor: pointer;
        }
    }

    & td button {
        margin: 0.2em;
    }
}