
<div class="container">
    <header>
        <h1><a [routerLink]="['home']">ArtManage</a></h1>
    </header>
    <div *ngIf="!offersVisibility" class="row" [ngClass]="{'fade': offersVisibility}">
        <art-section-modal (deleteButtonClicked)="deleteSection(activeService.uhash)" [service]="activeService"></art-section-modal>
        <div class="col-12 head-section">
            <h2>Sections</h2>
            <button (click)="toggleSectionAddFormVisiblity()">+</button>
        </div>
        <div class="col">
            <art-manage-sections *ngIf="sectionsAddFormVisible" (formActionComplete)="toggleSectionAddFormVisiblity()"></art-manage-sections>
            <table *ngIf="!sectionsAddFormVisible" class="table table-dark table-hover table-strped">
                <thead>
                    <tr>
                        <th>id</th>
                        <th>title</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let service of services | async">
                        <td>{{ service.id }}</td>
                        <td>{{ service.title }}</td>
                        <td>
                            <button type="button" class="btn btn-danger" (click)="setActiveService(service)" 
                            data-bs-toggle="modal" data-bs-target="#sectionDeleteModal">delete</button>
                            <button type="button" class="btn btn-secondary" (click)="setActiveService(service)" 
                            data-bs-toggle="modal" data-bs-target="#sectionEditModal">edit</button>
                            <button (click)="toggleOffersVisibility(service)" class="btn btn-warning">offers</button>
                            <button type="button" class="btn btn-primary" (click)="setActiveService(service)" 
                            data-bs-toggle="modal" data-bs-target="#sectionPreviewModal">preview</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div *ngIf="offersVisibility" class="row mt-3 justify-content-center" [ngClass]="{'fade': !offersVisibility}">
        <art-offer-modal [offer]="activeOffer" (deleteButtonClicked)="deleteOffer(activeOffer.section_hash, activeOffer.uhash)"></art-offer-modal>
        <div class="col-12">
            <button class="btn btn-secondary back-btn" (click)="toggleOffersVisibility()">back</button>
        </div>
        <div class="col-12 head-section">
            <h2> {{ activeService.title }}'s Offers</h2>
            <button (click)="toggleOffersAddFormVisibility()">+</button>
        </div>
        <div class="col">
            <art-manage-offers [section_hash]="activeService.uhash" (formActionComplete)="toggleOffersAddFormVisibility()" *ngIf="offersAddFormVisible"></art-manage-offers>
            <table *ngIf="!offersAddFormVisible" class="table table-dark table-hover">
                <thead>
                    <tr>
                        <th>id</th>
                        <th>title</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr  *ngFor="let offer of offers | async">
                        <td>{{ offer.id }}</td>
                        <td (click)="toOfferPage(offer)">{{ offer.title }}</td>
                        <td>
                            <button type="button" class="btn btn-danger" (click)="setActiveOffer(offer)" 
                            data-bs-toggle="modal" data-bs-target="#offerDeleteModal">delete</button>
                            <button type="button" class="btn btn-secondary" (click)="setActiveOffer(offer)" 
                            data-bs-toggle="modal" data-bs-target="#offerEditModal">edit</button>
                            <!-- <button (click)="toggleOffersVisibility(offer.uhash)" class="btn btn-warning">offers</button> -->
                            <button type="button" class="btn btn-primary" (click)="setActiveOffer(offer)" 
                            data-bs-toggle="modal" data-bs-target="#offerPreviewModal">preview</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>