
<div class="container">
    <header>
        <h1><a class="navbar-brand" [routerLink]="['/home']">SinaArtz</a></h1>
    </header>
    <div>
        <button (click)="handleLoginState()" class="btn btn-primary">{{ loggedIn ? 'logout' : 'login' }}</button>
    </div>
    <div *ngIf="!offersVisibility" class="row" [ngClass]="{'fade': offersVisibility}">
        <art-section-modal (deleteButtonClicked)="deleteSection(activeService.uhash)" [service]="activeService"></art-section-modal>
        <div class="col-12 head-section">
            <h2>Sections</h2>
            <button (click)="toggleSectionAddFormVisiblity()">{{!sectionsAddFormVisible ? '+' : '-' }}</button>
        </div>
        <div class="col">
            <art-manage-sections *ngIf="sectionsAddFormVisible" (formActionComplete)="toggleSectionAddFormVisiblity()"></art-manage-sections>
            <table *ngIf="!sectionsAddFormVisible" class="table table-dark table-hover table-strped">
                <thead>
                    <tr class="text-uppercase">
                        <th></th>
                        <th>title</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let service of services | async">
                        <td  class="align-middle">
                            <img [src]="service.imgurl" class="thumbnail">
                        </td>
                        <td class="align-middle">{{ service.title }}</td>
                        <td class="align-middle">
                            <button type="button" class="btn btn-danger" (click)="setActiveService(service)" 
                            data-bs-toggle="modal" data-bs-target="#sectionDeleteModal">delete</button>
                            <button type="button" class="btn btn-secondary" (click)="setActiveService(service)" 
                            data-bs-toggle="modal" data-bs-target="#sectionEditModal">edit</button>
                            <button (click)="toggleOffersVisibility(service)" class="btn btn-warning">offers</button>
                            <button type="button" class="btn btn-primary" (click)="setActiveService(service)" 
                            data-bs-toggle="modal" data-bs-target="#sectionPreviewModal">preview</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div *ngIf="offersVisibility && !editOfferVisible && !previewOfferVisible" class="row mt-3 justify-content-center" [ngClass]="{'fade': !offersVisibility}">
        <art-offer-modal [offer]="activeOffer" (deleteButtonClicked)="deleteOffer(activeOffer.section_hash, activeOffer.uhash)"></art-offer-modal>
        <div class="col-12">
            <button class="btn btn-secondary back-btn" (click)="toggleOffersVisibility()">back</button>
        </div>
        <div class="col-12 head-section">
            <h2> {{ activeService.title }}'s Offers</h2>
            <button (click)="toggleOffersAddFormVisibility()">{{!offersAddFormVisible ? '+' : '-' }}</button>
        </div>
        <div class="col">
            <art-manage-offers [section_hash]="activeService.uhash" (formActionComplete)="toggleOffersAddFormVisibility()" *ngIf="offersAddFormVisible"></art-manage-offers>
            <table *ngIf="!offersAddFormVisible" class="table table-dark table-hover">
                <thead>
                    <tr class="text-uppercase">
                        <th></th>
                        <th>title</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr  *ngFor="let offer of offers | async">
                        <td  class="align-middle">
                            <img [src]="offer.imgurl[0]" class="thumbnail">
                        </td>
                        <td class="align-middle" (click)="toOfferPage(offer)">{{ offer.title }}</td>
                        <td class="align-middle">
                            <button type="button" class="btn btn-danger" (click)="setActiveOffer(offer)" 
                            data-bs-toggle="modal" data-bs-target="#offerDeleteModal">delete</button>
                            <button type="button" class="btn btn-secondary" (click)="editOffer(offer)">edit</button>
                            <!-- <button (click)="toggleOffersVisibility(offer.uhash)" class="btn btn-warning">offers</button> -->
                            <button type="button" class="btn btn-primary" (click)="previewOffer(offer)">preview</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div *ngIf="offersVisibility" class="row mt-3 justify-content-center" [ngClass]="{'fade': !offersVisibility}">
        <div class="col" *ngIf="editOfferVisible">
            <div>
                <button (click)="editOfferVisible=false" class="btn btn-secondary back-btn">back</button>
            </div>
            <art-manage-offers [offer]="activeOffer" [update]="true" (formActionComplete)="editOfferVisible=false"></art-manage-offers>
        </div>
        <div class="col" *ngIf="previewOfferVisible">
            <div *ngIf="activeOffer" class="text-light mb-3 mb-lg-5">
                <div>
                    <button (click)="previewOfferVisible=false" class="btn btn-secondary back-btn">back</button>
                </div>
                <h2>{{ activeOffer.title }}</h2>
                <p>Price: {{ activeOffer.price | currency:'NGN':'₦' }}</p>
                <p>Short Description: {{ activeOffer.short_description }}</p>
                <p>Long Description: {{ activeOffer.long_description }}</p>
                <p>Artist: {{ activeOffer.artist }}</p>
                <p>Medium: {{ activeOffer.medium }}</p>
                <p>Dimension: {{ activeOffer.dimension }}</p>
                <p>Orientation: {{ activeOffer.orientation }}</p>
                <p>Year: {{ activeOffer.year }}</p>
                <div class="img-list">
                    <img *ngFor="let image of activeOffer.imgurl" [src]="image" [alt]="activeOffer.title" class="preview-img">
                </div>
            </div>
        </div>
    </div>
</div>