@import "../../extras.scss";

.main-container {
    min-height: $section-height;
    margin-bottom: 1em;

    & .not-found {
        color: $font-light;
    }

    & .item-img-box {
        box-shadow: 1px 1px black;
        border-radius: 20px;
    }

    & .item-img {
        border-radius: 20px;
        width: 100%;
    }

    & .navtab {
        margin-top: 1em;
        display: grid;
        grid-template-columns: 1fr 1fr;

        & .navtabs:first-of-type {
            border-right: 3px solid $font-dark;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
        }

        & .navtabs:last-of-type {
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
        }

        & .navtabs {
            background-color: $font-light;
            text-transform: capitalize;
            display: flex;
            justify-content: center;
            align-items: center;

            & h5 {
                color: $font-dark;
                font-weight: 700;
                margin: 0.5em 0;
                font-size: 1em;
            }

            & h5.active {
                border-bottom: 3px solid $font-dark;
            }

            &:hover {
                cursor: pointer;

                & h5 {
                    border-bottom: 3px solid $font-dark;
                    transition: border-bottom 0.2s ease-in;
                }
            }
        }
    }

    & .itemBox {
        
        & .card .card-body {
            background-color: unset !important;
            color: $font-light;
            padding: 0px;
        }
    }

    & .offers {
        margin: 1em 0;
    }

}