@import "../../extras.scss";

.main-container {
    color: $font-light;
    // min-height: $section-height;
    padding: 1em 0 4em 0;
}

.about-section {

    & .img-box {
        & .about-img {
            border-radius: 20px;
            box-shadow: 3px 3px 4px darken($background-color, 10%);
        }
    }
    & .about-text {
        display: inline;
        text-align: justify;
    }

    & .contact-btn {
        text-transform: uppercase;
        font-weight: 700;
        border: 2px solid $font-light;
        margin: 1em 0;

        &:hover{
            transition: border-color ease-out 3s;
        }
    }
}

.services-section {
    & .carousel {
        padding: 0.5em;
        color: $font-light;
        border-radius: 20px;
        width: 100vw;
        max-width: 930px;
        & .carousel-inner {
            position: relative;
            & img {
                filter: brightness(80%);
                border-radius: 20px;
            }
        }

        @include lg {
            max-width: 800px;
        }
    }
}