<art-navigation [services]="services"></art-navigation>
<div class="main-container">
    <main class="container-fluid about-section">
        <div class="row">
            <div autofocus class="col-12 d-block d-sm-none">
                <h2 class="main-heading about-heading">Who is SinaArtz?</h2>
            </div>
            <div class="col-12 col-sm-6 mb-2 mb-sm-none">
                <div class="img-box">
                    <img src="assets/about.jpg" class="img-fluid about-img" alt="">
                </div>   
            </div>
            <div class="col-12 col-sm-6">
                <h2 class="d-none d-sm-block main-heading about-heading">Who is SinaArtz?</h2>
                <p class="about-text">
                    You can’t use calculations with normal SassScript operations like + and *. 
                    If you want to write some math functions that allow calculations just write 
                    them within their own calc() expressions—if they’re passed a bunch of numbers 
                    with compatible units, they’ll return plain numbers as well, and if they’re passed 
                    calculations they’ll return calculations.
                </p>
                <button type="button" (click)="toContactPage()" class="btn btn-dark btn-md d-none d-sm-block contact-btn">connect with me!</button>
            </div> 
        </div>
        <div class="row my-2 d-block d-sm-none">
            <div class="col d-flex justify-content-end">
                <button type="button" (click)="toContactPage()" class="btn btn-dark btn-md contact-btn">connect with me!</button>
            </div>
        </div>
    </main>

    <div class="container-fluid d-flex justify-content-center align-items-center services-section">
        <div id="carousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="card">
                        <img src="assets/contact.jpg" class="card-img" alt="contact sinaartz">
                        <div class="card-img-overlay">
                            <h2 class="card-title">Contact Us</h2>
                            <p class="card-text">You can’t use calculations with normal SassScript operations like + and *. </p>
                        </div>
                    </div>
                </div>
                <div *ngFor="let service of services | async" class="carousel-item">
                    <div class="card">
                        <img [src]="service.imgurl" class="card-img" [alt]="service.title">
                        <div class="card-img-overlay">
                            <h2 class="card-title">{{service.title}}</h2>
                            <button type="button" (click)="openSection(service.uhash, service.title)" class="btn btn-light py-2 px-3 call-to-action-btn d-block d-md-none">View Category</button>
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>

    <div class="container-fluid">
        <div *ngIf="latestOffers | async" class="row">
            <div class="col-12">
                <h2 class="my-2 main-heading">Newly Featured Products</h2>
            </div>
        </div>
        <div *ngIf="latestOffers | async" class="row gy-2">
            <div *ngFor="let l_offer of latestOffers | async" class="col-6 col-md-4 col-lg-3 offers">
                <art-service-item [service]="l_offer"></art-service-item>
            </div>
        </div>
    </div>
</div>
<art-footer></art-footer>