<form #orderForm="ngForm" (ngSubmit)="processForm(orderForm)">
    <div class="">
        <p class="form-text">Kindly fill this form to place your order with me. The information you provide are only used to contact you.</p>
    </div>
    <div class="form-group mb-2">
        <label class="form-label" for="name">Name<span class="required-mark">*</span></label>
        <input class="form-control" type="text" name="name" id="name" ngModel required>
    </div>
    <div class="form-group mb-2">
        <label class="form-label" for="email">Email<span class="required-mark">*</span></label>
        <input class="form-control" pattern="[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}" name="email" id="email" ngModel required>
    </div>
    <div class="form-group mb-2">
        <label class="form-label" for="description">Any other thing you'll like to specify?</label>
        <textarea ngModel name="description" id="description" class="form-control"></textarea>
    </div>
    <div class="form-group mb-2">
        <input [ngClass]="{'disabled': !orderForm.valid}" class="btn btn-outline-light btn-md form-control" type="submit" value="Place Order">
    </div>    
</form>
