
  
  <!-- Modal -->
  <div class="modal fade" id="offerPreviewModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content bg-dark text-light">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Preview</h5>
          <button type="button" class="btn-close text-danger" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div *ngIf="offer" class="modal-body">
            <h2>{{ offer.title }}</h2>
            <p>Price: {{ offer.price | currency:'NGN':'₦' }}</p>
            <p>Short Description: {{ offer.short_description }}</p>
            <p>Long Description: {{ offer.long_description }}</p>
            <p>Artist: {{ offer.artist }}</p>
            <p>Medium: {{ offer.medium }}</p>
            <p>Dimension: {{ offer.dimension }}</p>
            <p>Orientation: {{ offer.orientation }}</p>
            <p>Year: {{ offer.year }}</p>
            <div class="img-list">
                <img *ngFor="let image of offer.imgurl" [src]="image" [alt]="offer.title" class="">
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <!-- <button type="button" class="btn btn-primary">Understood</button> -->
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="offerEditModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content bg-dark text-light">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Edit</h5>
          <button type="button" class="btn-close text-danger" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <art-manage-offers [offer]="offer" [update]="true" (formActionComplete)="closeBtn.click()"></art-manage-offers>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" #closeBtn data-bs-dismiss="modal">Close</button>
          <!-- <button type="button" class="btn btn-primary">Understood</button> -->
        </div>
      </div>
    </div>
  </div>

   <!-- Modal -->
   <div class="modal fade" id="offerDeleteModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content bg-dark text-light">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Important</h5>
          <button type="button" class="btn-close text-danger" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div *ngIf="offer" class="modal-body">
            <p>
                Are you sure you want to delete <b>{{ offer.title }}</b> offer?<br/>  
            </p>     
            <p class="text-danger"><b>Please note that this action cannot be reversed.</b></p> 
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">cancel</button>
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="deleteActionApprove()">delete</button>
        </div>
      </div>
    </div>
  </div>