<div class="add-form">
    <h5 *ngIf="update">Update Section</h5>
    <form #addForm="ngForm" class="text-light" (ngSubmit)="processAddForm(addForm)">
        <div class="form-group mb-2">
            <label class="form-label" for="title">Title<span class="required-mark">*</span></label>
            <input type="text" placeholder="enter title" class="form-control" name="title" id="title" [(ngModel)]="service.title" required>
        </div>
        <div *ngIf="!update" class="form-group mb-2">
            <label class="form-label" for="image">Select your image<span class="required-mark">*</span></label>
            <input ngModel #imageInput class="form-control" type="file" accept="image/*" (change)="processImage(imageInput)" name="image" required>
        </div>
        <div class="form-group mb-2">
            <input type="submit" class="form-control btn btn-md" [ngClass]="{'btn-light': update, 'btn-dark': !update, 'disabled': !addForm.valid || addForm.form.pristine}" [value]="btnText">
        </div>
    </form>
</div>

<div *ngIf="update" class="edit-image">
    <h5>Image Section</h5>
    <div class="m-2">
        <art-image-list [imageURLs]="toList(service.imgurl)"></art-image-list>
    </div>
    <form #imageForm="ngForm" (ngSubmit)="updateImage(imageForm)">
        <div class="form-group mb-2">
            <!-- <button class="btn btn-md btn-success" (click)="imageUpdate.click()">Select Image</button> -->
            <input ngModel #imageUpdate class="form-control" type="file" accept="image/*" (change)="processImage(imageUpdate)" name="image">
        </div>
        <div class="form-group mb-2">
            <input type="submit" class="form-control btn btn-md btn-light" [ngClass]="{'disabled': !imageName || imageForm.form.pristine}" value="update">
        </div>
    </form>
</div>