<art-navigation [services]="services"></art-navigation>
<main>
    <div class="container-fluid d-flex d-sm-none">
        <div *ngIf="services | async" class="row align-items-center justify-content-center mt-2 mb-5">
            <div *ngFor="let offer of services | async" class="col col-11 col-sm-6 col-md-4">
                <art-landing-box [title]="offer.title" [imgUrl]="offer.imgurl" [uhash]="offer.uhash"></art-landing-box>
            </div>
        </div>
    </div>
    <div class="container-fluid sm-landing-div d-none d-sm-block d-lg-flex">
        <div *ngIf="activeSection" class="main-section">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-end mb-2">
                        <h5 class="card-title m-0">{{ activeSection.title }}</h5>
                        <button type="button" (click)="openSection()" class="btn btn-light py-2 px-3 call-to-action-btn">View Category</button>
                    </div>
                    <img [src]="activeSection.imgurl" class="card-img" [alt]="activeSection.title">
                </div>
            </div>
        </div>
        <div class="other-sections">
            <div *ngFor="let offer of services | async">
                <art-landing-box (sectionClicked)="changeSection(offer)" [title]="offer.title" [imgUrl]="offer.imgurl" [uhash]="offer.uhash"></art-landing-box>
            </div>
        </div>
    </div>
</main>
<art-footer></art-footer>