@import "../../extras.scss";

.navbar {
    box-shadow: 0px 3px 4px darken($background-color, 5%);

    &.fixed-bottom {
        box-shadow: 0px -4px 4px darken($background-color, 5%);
    }

    & .nav-link {
        color: $font-light;
        text-transform: capitalize;
        text-align: center;
    }

    & .active-nav {
        color: rgba(212, 61, 23, 0.959);
    }

    & .nav-icons {
        width: 30px;
        height: 30px;
    }

    & .social-icon {
        width: 20px;
        height: 20px;
        margin: 0 0.5em;
    }

    @include u-sm {
        & .navbar-nav {
            display: flex;
            align-items: flex-end;
        }
    }
}

.menu-expanded {
    height: 100vh;
    align-items: flex-start;

    & .navbar-collapse {
        height: 80vh;
        & ul {
            display: flex;
            align-items:stretch;
            flex-direction: column;
            justify-content: center;
            height: 100%;

            & > li {
                margin: 1em;
            }

            & a {
                text-transform: capitalize;
            }

            & .dropdown {
                position: relative;
            }

            & .dropdown-menu {
                border: none;
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
            }
        }

    }
}