<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <button #menuBtn class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <a class="navbar-brand" [routerLink]="['/home']">SinaArtz</a>
          <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" (click)="menuBtn.click()" routerLinkActive="active-nav" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/home']">Home</a>
              </li>
              <li *ngFor="let service of services | async" class="nav-item">
                <a class="nav-link" (click)="menuBtn.click()" routerLinkActive="active-nav" [routerLink]="['/', 'section']" [queryParams]="{'section': service.uhash, 'title': service.title}" [routerLinkActiveOptions]="{exact: true}">{{ service.title }}</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      
    <nav class="navbar fixed-bottom d-lg-none d-sm-block bg-dark">
        <div class="container-fluid">
            <a class="px-2 navbar-brand" [routerLink]="['/home']">
              <img src="assets/icons/home-icon.png" class="nav-icons" alt="home page icon">
            </a>
            <nav class="nav">
              <a [routerLink]="['/about']" class="nav-link">
                <img src="assets/icons/about-icon.png" class="nav-icons" alt="about page icon">
              </a>
              <a [routerLink]="['/contact']" class="nav-link">
                <img src="assets/icons/contact-icon.png" class="nav-icons" alt="contact page icon">
              </a>
            </nav>
        </div>
    </nav>
</header>