<art-navigation [services]="services"></art-navigation>
<div *ngIf="offers" class="container-fluid main-container">
    <div class="row">
        <div class="col">
            <h2 class="main-heading">Collection of {{ title }}</h2>
        </div>
    </div>
    <div *ngIf="offers | async" class="row gy-2 offers-div">
        <div *ngFor="let service of offers | async" class="col-6 col-md-4 col-lg-3">
            <art-service-item [service]="service"></art-service-item>
        </div>
    </div>
    <div *ngIf="!offers" class="row gy-2 d-flex justify-content-center">
        <div>
            <p>Place order for your {{ title }} now.</p>
        </div>
        <art-order-form></art-order-form>
    </div> 
</div>
<div *ngIf="!offers" class="container-fluid main-container">
    <div class="row gy-2 d-flex justify-content-center">
        <div>
            <p>Place order for your {{ title }} now.</p>
        </div>
        <art-order-form></art-order-form>
    </div> 
</div>
<art-footer></art-footer>