/* You can add global styles to this file, and also import other style files */
@import "./extras.scss";

h1, h2, h3, h4, h5, h6 {
    line-height: 1.5em !important;
    color: $font-light;
    font-family: 'Lusitana', serif;
}

// alpha my beginning, omega my very end

html, body {
    background-color: #101119 !important;
    // font-family: 'Raleway', sans-serif;
    font-family: 'Cantarell', sans-serif;
}

main {
    margin: 60px 0 27px 0;
}

.main-heading {
    text-transform: capitalize;
    text-shadow: 3px 3px 3px black;
}

.card {

    color: #dad2f3;
    outline: unset;
    border: none !important;
    background-color: #24252f !important;

    & .card-header {
        // background-color: darken($background-color, 90);
        font-weight: 700;
        border: none !important;
    }

    & .card-body{
        // background-color: darken($background-color, 10%);
    }
}

// For form 
.ng-touched.ng-invalid {
    border-color: red;
    border-width: 3px;
    transition: border 0.2s ease-in;
}

button {
    border-color: #dad2f3;
    color: #dad2f3;
    
}
